@import './colors';
@import './spacing';

$transitions: ();
@for $i from 1 through 20 {
  $transitions: append($transitions, #{$i * 0.1}s all ease-in-out);
};

$h-font-family: "Montserrat";
$main-header-font: Raleway, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;;
$main-body-font: Roboto, 'Segoe UI', Helvetica, sans-serif;
$h-color: rgb(63, 63, 63);

$main-color: #8d8d8d;
$main-blue: rgb(80, 129, 190); //#5081BE
$main-orange: rgb(244, 150, 73); //#F49649
$main-light-gray: #f3f3f3;
$main-medium-gray: #9a9a9a;
$main-dark-gray: #505050;
$gray-dark: #505050;
$reveal-bg: #F2F2F2;
$main-box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);
$portal-color: #373c54;
$portal-blue: #2f47c2;
$portal-new-blue: #18A0FB;
$portal-new-light-blue: #C7E8FE;
$icon-color: #69719d;
$new-title-color: #29394D;
$new-main-color: #3C4E64;
$new-gray: #6D7F92;
$new-light-gray: #F1F2F4;
$new-very-light-gray: #F8F9FA;
$image-shadow: 0 1px 15px 1px rgba(0,0,0,.24), 0 1px 6px rgba(0,0,0,.04);
$shadow-color: rgba(41, 57, 77, 0.1);
$bg-new-light-blue: rgba(199, 232,254, .1);


$tag-color: #18A0FB;
